$general-article-fontSize-large: 16px;
$general-article-fontSize-small: 14px;
$section-heading-fontSize-small: 24px;
$section-heading-fontSize-large: 36px;
$general-article-heading-fontSize-small: 18px;
$general-article-heading-fontSize-large: 24px;

$general-blue: #2c4f80;
$general-red: #e32700;
$general-black: #323232;